@tailwind base;
@tailwind components;
@tailwind utilities;

/* Redefinindo o tamanho de fonte base para unidades rem menores */
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* Tamanhos de fonte responsivos em unidades rem */
@media (min-width: 640px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
